In [1]:
import json
import os
import pandas as pd

In [6]:
os.chdir('tabsyn')

In [19]:
config_file = {
    "name": "transactions_dt_split",
    "task_type": "binclass", # binclass or regression
    "header": "infer",
    "column_names": [],
    "num_col_idx": [3, 4],  # list of indices of numerical columns
    "cat_col_idx": [0, 1, 2],  # list of indices of categorical columns
    "target_col_idx": [], # list of indices of the target columns (for MLE)
    "file_type": "csv",
    "data_path": "data/transactions_dt_split/transactions_dt_split.csv",
    "test_path": '',
    "time_q": 0.9,
    "user_q": 0.9
}

In [10]:
#!mkdir ./data/transactions_dt_split
!cp ../transactions.csv ./data/transactions_dt_split/transactions_dt_split.csv

In [20]:
with open('data/Info/transactions_dt_split.json', 'w') as js:
    json.dump(config_file, js)

In [21]:
run process_dataset.py --dataname transactions_dt_split

~~~ New columns: Index(['user_id', 'mcc_code', 'currency_rk', 'transaction_amt', 'time_diff'], dtype='object')
~~~ user_id min-max: 3 562740
~~~ user_id: quartile - 0.9, pivot value - 481871
~~~ time_diff min-max: 0 15767876
~~~ time_diff: quartile - 0.9, pivot value - 13898545
~~~ transactions: 13075023
~~~ train (count) (train/all): 10581102 0.8092606796944066
~~~ test  (count) (test/all): 121063 0.009259104171365511
~~~ proportion: 87.40161733973221
transactions_dt_split (10581102, 5) (121063, 5) (13075023, 5)

/home/jupyter/work/resources/tabsyn/process_dataset.py:281: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df.rename(columns = idx_name_mapping, inplace=True)
/home/jupyter/work/resources/tabsyn/process_dataset.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.rename(columns = idx_name_mapping, inplace=True)
/home/jupyter/work/resources/tabsyn/process_dataset.py:314: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[num_columns] = train_df[num_columns].astype(np.float32)
/home/jupyter/work/resources/tabsyn/process_dataset.py:315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[num_columns] = test_df[num_columns].astype(np.float32)

Numerical (10581102, 2)
Categorical (10581102, 3)
Processing and Saving transactions_dt_split Successfully!
transactions_dt_split
Total 10702165
Train 10581102
Test 121063
Num 2
Cat 3

In [2]:
transactions = pd.read_csv('transactions.csv')

In [4]:
clients = pd.read_csv('clients.csv')

In [5]:
transactions_clients = transactions.merge(clients, how='right', on='user_id' )

In [6]:
transactions_clients

          user_id  mcc_code  ...  bankemplstatus  customer_age
0               3         3  ...               0             3
1               3         3  ...               0             3
2               3        16  ...               0             3
3               3        56  ...               0             3
4               3         0  ...               0             3
...           ...       ...  ...             ...           ...
13075018   562740       155  ...               0             0
13075019   562740         9  ...               0             0
13075020   562740         1  ...               0             0
13075021   562740        13  ...               0             0
13075022   562740         9  ...               0             0

[13075023 rows x 9 columns]

In [15]:
transactions_clients.report.unique()

array([ 2,  1,  6,  5, 12, 11, 10,  3,  8,  9,  4,  7])

In [10]:
transactions_clients_data = transactions_clients.dropna()

In [11]:
transactions_clients_data

          user_id  mcc_code  ...  bankemplstatus  customer_age
0               3         3  ...               0             3
1               3         3  ...               0             3
2               3        16  ...               0             3
3               3        56  ...               0             3
4               3         0  ...               0             3
...           ...       ...  ...             ...           ...
13067780   558465         2  ...               0             0
13067781   558465         2  ...               0             0
13067782   558465         1  ...               0             0
13067783   558465         2  ...               0             0
13067784   558465         3  ...               0             0

[8643927 rows x 9 columns]

In [12]:
transactions_clients_data.employee_count_nm.unique()

array(['ОТ 101 ДО 500', 'БОЛЕЕ 1001', 'ОТ 501 ДО 1000', 'ДО 10',
       'ОТ 11 ДО 50', 'ОТ 51 ДО 100', 'БОЛЕЕ 500', 'ОТ 11 ДО 30',
       'ОТ 31 ДО 50'], dtype=object)

In [18]:
employee_count_dict = {}
for i, j in enumerate(transactions_clients_data.employee_count_nm.unique()):
    employee_count_dict[j] = i

In [19]:
employee_count_dict

{'ОТ 101 ДО 500': 0,
 'БОЛЕЕ 1001': 1,
 'ОТ 501 ДО 1000': 2,
 'ДО 10': 3,
 'ОТ 11 ДО 50': 4,
 'ОТ 51 ДО 100': 5,
 'БОЛЕЕ 500': 6,
 'ОТ 11 ДО 30': 7,
 'ОТ 31 ДО 50': 8}

In [ ]:
transactions_clients_data['employee_count_dict_code'] = transactions_clients_data.apply(lamnda row)

In [21]:
!head tabsyn/data/transactions_dt_split/train.csv

user_id,mcc_code,currency_rk,transaction_amt,time_diff
3,3,1,-183.88396,0.0
3,3,1,-3206.437,2817.0
3,16,1,-153866.89,1651223.0
3,56,1,-15144.602,3484376.0
3,0,1,5297.9087,3737158.0
3,0,1,534.3631,6338573.0
3,0,1,4549.455,6338882.0
3,0,1,37991.93,7886245.0
3,0,1,28335.613,8411225.0